[Desktop Entry]
NoDisplay=true
StartupWMClass=qterminal
Type=Application
Icon=utilities-terminal
Exec=qterminal
Terminal=false
Categories=Qt;System;TerminalEmulator;
Actions=Dropdown;

Name=QTerminal
GenericName=Terminal emulator
Comment=Terminal emulator
Name[ar]=Terminal
GenericName[ar]=محاكي طرفية
Comment[ar]=محاكي طرفية
Name[bg]=Terminal
GenericName[bg]=Терминал
Comment[bg]=QTerminal
Name[ca]=Terminal
GenericName[ca]=Emulador de terminal
Comment[ca]=Emulador de terminal
Name[ca@valencia]=Terminal
Name[cs]=Terminal
GenericName[cs]=Emulátor terminálu
Comment[cs]=Emulátor terminálu
Name[da]=Terminal
GenericName[da]=Terminalemulator
Comment[da]=Terminalemulator
Name[de]=Terminal
Comment[de]=Befehlszeile verwenden
GenericName[de]=Terminalemulator
Name[el]=Terminal
GenericName[el]=Προσομοιωτής τερματικού
Comment[el]=Προσομοιωτής τερματικού
Name[en_GB]=QTerminal
GenericName[en_GB]=Terminal emulator
Comment[en_GB]=Terminal emulator
Name[eo]=Terminal
Comment[eo]=Fina emulilo
GenericName[eo]=Fina emulilo
Name[es]=Terminal
GenericName[es]=Emulador de terminal
Comment[es]=Emulador de terminal
Name[et]=Terminal
GenericName[et]=Terminaliemulaator
Comment[et]=Terminaliemulaator
Name[fa]=Terminal
GenericName[fa]=شبیه ساز ترمینال
Comment[fa]=شبیه ساز ترمینال
Name[fi]=Terminal
GenericName[fi]=Pääte-emulaattori
Comment[fi]=Pääte-emulaattori
Name[fr]=Terminal
GenericName[fr]=Émulateur de terminal
Comment[fr]=Terminal
Name[he]=Terminal
GenericName[he]=מדמה מסוף
Comment[he]=מדמה מסוף
GenericName[hi]=टर्मिनल एमुलेटर
Comment[hi]=टर्मिनल एमुलेटर
Name[hr]=Terminal
GenericName[hr]=Emulator terminala
Comment[hr]=Emulator terminala
Name[hu]=Terminal
GenericName[hu]=Terminál emulátor
Comment[hu]=Terminál emulátor
Name[id]=Terminal
GenericName[id]=Emulator terminal
Comment[id]=Emulator terminal
Name[it]=Terminal
GenericName[it]=Emulatore di terminale
Comment[it]=Emulatore di terminale
Name[ja]=Terminal
GenericName[ja]=端末エミュレーター
Comment[ja]=端末エミュレーターです
Name[ka]=Terminal
GenericName[ka]=ტერმინალის ემულატორი
Comment[ka]=ტერმინალის ემულატორი
Name[km]=Terminal
GenericName[km]=ស្ថានីយសិប្បនិម្មិត
Comment[km]=ស្ថានីយសិប្បនិម្មិត
Name[ko]=Terminal
GenericName[ko]=터미널 에뮬레이터
Comment[ko]=터미널 에뮬레이터
Name[lg]=Terminal
GenericName[lg]=Puloguramu ey'ekiwandikiro
Comment[lg]=Puloguramu ey'ekiwandikiro
Comment[lt]=Terminalo emuliatorius
GenericName[lt]=Terminalo emuliatorius
Name[lt]=Terminal
Name[nb]=Terminal
GenericName[nb]=Terminalemulator
Comment[nb]=Terminalemulator
Name[nds]=Terminal
GenericName[nds]=终端模拟器
Comment[nds]=终端模拟器
Name[nl]=Terminal
GenericName[nl]=Terminalemulator
Comment[nl]=Terminalemulator
Name[oc]=Terminal
GenericName[oc]=Emulator de terminal
Comment[oc]=Emulator de terminal
Name[pa]=Terminal
GenericName[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Comment[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Name[pl]=Terminal
GenericName[pl]=Emulator terminala
Comment[pl]=Emulator terminala
Name[pt]=Terminal
GenericName[pt]=Emulador de terminal
Comment[pt]=Emulador de terminal
Name[pt_BR]=Terminal
GenericName[pt_BR]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
Name[ro]=Terminal
Name[ru]=Terminal
GenericName[ru]=Эмулятор терминала
Comment[ru]=Эмулятор терминала
Name[sk]=Terminal
GenericName[sk]=Emulátor terminálu
Comment[sk]=Emulátor terminálu
Name[sl]=Terminal
GenericName[sl]=Terminalski emulator
Comment[sl]=Terminalski emulator
Name[sv]=Terminal
GenericName[sv]=Terminalemulator
Comment[sv]=Terminalemulator
Name[tr]=Terminal
GenericName[tr]=Uçbirim öykünücüsü
Comment[tr]=Uçbirim öykünücüsü
Name[uk]=Terminal
GenericName[uk]=Емулятор термінала
Comment[uk]=Емулятор термінала
Name[uz]=Terminal
GenericName[uz]=Terminal emulyatori
Comment[uz]=Terminal emulyatori
Name[zh_CN]=Terminal
GenericName[zh_CN]=终端模拟器
Comment[zh_CN]=终端模拟器
Name[zh_TW]=Terminal
GenericName[zh_TW]=終端機模擬器
Comment[zh_TW]=終端機模擬器
[Desktop Action Dropdown]
Exec=qterminal --drop
Icon=utilities-terminal

Name=Drop-down Terminal
Name[ar]=طرفية منسدلة
Name[bg]=Падащ терминал
Name[ca]=Terminal desplegable
Name[ca@valencia]=Terminal desplegable
Name[cs]=Vysouvací terminál
Name[da]=Rul-ned terminal
Name[de]=Aufklapp-Terminal
Name[el]=Αναπτυσσόμενο τερματικό
Name[en_GB]=Drop-down Terminal
Name[es]=Terminal desplegable
Name[et]=Lahtikeriv terminal
Name[fa]=ترمینال کشویی
Name[fi]=Alas putoava päätesovellus
Name[fr]=Terminal déroulant
Name[he]=מסוף צץ
Name[hi]=ड्रॉप-डाउन टर्मिनल
Name[hr]=Padajući terminal
Name[hu]=Legördülő terminál
Name[id]=Terminal drop-down
Name[it]=Terminale a discesa
Name[ja]=ドロップダウン式の端末
Name[ka]=ჩამოსაშლელი ტერმინალი
Name[km]=ស្ថានីយ​ទម្លាក់​ចុះ
Name[ko]=위에서 내려오는 터미널
Name[lg]=Ekiwandikiro ekiboneka
Name[lt]=Išskleidžiamasis terminalas
Name[nb]=Nedtrekksterminal
Name[nds]=Utklapp-Konsool
Name[nl]=Uitvouwbare terminalemulator
Name[oc]=Terminal desplegable
Name[pa]=ਲਟਕਦਾ ਟਰਮੀਨਲ
Name[pl]=Rozwijany emulator terminala
Name[pt]=Terminal suspenso
Name[pt_BR]=Terminal suspenso
Name[ro]=Terminal derulant
Name[ru]=Выпадающий терминал
Name[sk]=Rozbaľovací terminál
Name[sl]=Spustni terminal
Name[sv]=Rullgardinsterminal
Name[th]=เทอร์มินัลแบบหย่อนลง
Name[tr]=Yukarıdan Açılan Uçbirim
Name[uk]=Спадний термінал
Name[uz]=Bossa-ochiladigan terminal
Name[zh_CN]=下拉式终端
Name[zh_TW]=下拉式終端機
